extends ../../layout
block content
  .container
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading
          button.btn.btn-default(name='return', type='button') 返回
        .panel-body
          video#sampleVideo(src='/1-2-en.mp4', width='890', height='500', controls='')
    .col-md-10.col-md-offset-1
