doctype html
html
head
title chapter-1
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
script(src='/components/jquery/dist/jquery.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.min.js')
body
h1
p Welcome to chapter1
button.btn.btn-default(name='return', type='button') 返回
video#sampleMovie(src='/1-2-en.mp4', controls='',width='900',height='500')
