link(rel='stylesheet', href='/stylesheets/header.css')
header
  #navigation.navbar.navbar-default(role="navigation")
    .navbar-header
      a#logo.navbar-brand(href='/')
        .logo
          img(src="/images/logo.png")
    .activate
      ul#navigation-list.nav.navbar-nav.navbar-right
        li.active
          a(href='/') 课程
        li
          a(href='/login') 登录
        li
          a(href='/register') 注册
