extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/chapter.css')
  script(src="/js/chapter.js")

block content
  .container
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading
          button#return.btn.btn-default(name='return', type='button',value=currentCourseId) 返回
        .panel-body
          video#sampleVideo(src=currentVideoUrl,width='890', height='500', controls='')
    .col-md-9.col-md-offset-1
      if previousChapterId
        button#last.btn.btn-default(name='last', type='button',value=previousChapterId) 上一节
    .col-md-1
      if nextChapterId
        button#next.btn.btn-default(name='next', type='button',value=nextChapterId) 下一节
