doctype html
html(lang='en')
  head
    title course
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    script(src="components/jquery/dist/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
  body
    include partials/_header.jade
    .header
      h1.text-center Bootstrap
    hr
    div
      h4
        | 所有课程
        span.glyphicon.glyphicon-chevron-right
        | Bootstrap
    hr
    .container
      .row
        .col-lg-6
          h3 课程介绍
          p
            | Bootstrap，是目前最受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的，
            | 它简洁灵活，使得 Web 开发更加快捷。本教程将向您讲解 Bootstrap 框架的基础，通过学习这些内容，您将可
            | 以轻松地创建 Web 项目。
        .col-lg-6
          p
            button.btn.btn-primary.btn-lg.btn-block(type='button', onClick="location.href='5'")
              | 章节一
          p
            button.btn.btn-primary.btn-lg.btn-block(type='button', onClick="location.href='5'")
              | 章节二
          p
            button.btn.btn-primary.btn-lg.btn-block(type='button', onClick="location.href='5'")
              | 章节三
          p
            button.btn.btn-primary.btn-lg.btn-block(type='button', onClick="location.href='5'")
              | 章节四

