extends layout

block content
    link(rel='stylesheet', href='/stylesheets/course-add.css')

    form(method="post" action="/courseadd")
      section.container.well.panel-primary
        h1 添加课程
        ul.list-unstyled.list-group
          li.list-group-item
            label 请输入课程名:
            input(type='text' placeholder='请输入课程名' name='course_name').form-control
          li.list-group-item
            label 请选择分类:
            select(name='classification').form-control
              option 英语
              option 数学
              option 语文
              option 物理
              option 生物

          li.list-group-item
            label 请输入课程简要信息
            textarea(rows='3' cols='134' name='course_desc' ).form-control


      section.container.well.panel-primary
        ul.list-unstyled.list-group
          li.list-group-item.col-md-12
            label(name='chapterId') 第1章节:
            input(type='text' placeholder='请输入章节名' name="chapter_1").form-control
          li.list-group-item.col-md-12
            .col-md-12 上传文件:
            input#fileupload(type='file', name='files[]', data-url='server/php/', multiple='')
            #progress
              .bar(style='width: 0%;')
            input(type='file' value='上传文件' name='commit_file_1').col-md-2.form-control
            .col-md-5
            input(type='button' id='update' value='上传').col-md-1.btn.btn-primary.text-right.sectionbk

          li.list-group
            .col-md-10
            input(type='button' name='addBtn'  value='新增').col-md-1.btn.btn-primary.text-right.sectionbk

      div#submit.container
        input(type='submit' value='保存').col-md-1.btn.btn-primary.text-center.sectionbk

    script(src='/js/course-add.js')
    script(src='js/jquery.fileupload.js')
