extends layout

block content
    link(rel='stylesheet', href='/stylesheets/course-add.css')

    form
      section.container.well.panel-primary
        h1 添加课程
        ul.list-unstyled.list-group
          li.list-group-item
            label 请输入课程名:
            input.form-control(type='text')
          li.list-group-item
            label 请选择分类:
            select.form-control
              option 英语
              option 数学
              option 语文
              option 物理
              option 生物

          li.list-group-item
            label 请输入课程简要信息
            textarea.form-control(rows='3', cols='134')


      section.container.well.panel-primary
        ul.list-unstyled.list-group
          li.list-group-item.col-md-12
            label 第1章节:
            input(type='text').form-control
          li.list-group-item.col-md-12
            .col-md-12 上传文件:
            input(type='file', value='上传文件').col-md-2.form-control
            .col-md-11
            input(type='button' id='update' value='上传').col-md-1.

          li.list-group
            .col-md-5
            input(type='button' id='addBtn'  value='新增').col-md-1
            input(type='button' id='delete' value='删除').col-md-1

    script(src='/js/course-add.js')
