extends layout

block head
  link(rel='stylesheet', href='/stylesheets/nav-search.css')
  link(rel='stylesheet', href='/stylesheets/index.css')

block content

  .container.container-fluid
    .row

      a(href="/").all 全部课程
      #custom-search-form.pull-right
        .form-inline
          input.form-control.search-query(type='text', name='search', placeholder='搜索', value='')#search
          button.btn.btn-default(type='button')
            i.glyphicon.glyphicon-search

    .category

    hr

  #page-content.container.container-fluid.text-center


  script(src="components/twbs-pagination/jquery.twbsPagination.js")
  script(src="js/home.js")
