extends layout

block content
  link(rel='stylesheet', href='/stylesheets/nav-search.css')
  link(rel='stylesheet', href='/stylesheets/index.css')


  .container.container-fluid
    .row
      form#custom-search-form.pull-right
        .form-inline
          input.form-control(type='text',id="query",placeholder='搜索',value='#{query}')
          i.glyphicon.glyphicon-search(id="search")

    .category

    hr

    #page-content.container.container-fluid


  script(src="components/twbs-pagination/jquery.twbsPagination.js")
  script(src="js/home.js")
