extends layout
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
  body
    .container
      ul.nav.nav-tabs
        li.active(role='presentation')
          a(href='#') 学生
        li(role='presentation')
          a(href='#') 教师
      form
        ul
          li
            input#email.email
          li
            input#password.password
          li
            input#submit.submit
          a(herf='') 没有帐号，立即注册
        button(type='submit') 登录
