extends layout

block content
  .container
    .loginblock
      .col-lg-6.col-sm-6.col-lg-offset-3
        .btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group', aria-label='...')
          .btn-group(role='group')
            button#stars.btn.btn-primary(type='button', href='#tab1', data-toggle='tab')
              span(aria-hidden='true') 学生
          .btn-group(role='group')
            button#favorites.btn.btn-default(type='button', href='#tab2', data-toggle='tab')
              span(aria-hidden='true') 老师
        .well
          .tab-content
            #tab1.tab-pane.fade.in.active
              form#login.form-horizontal(action='/login', method='post',autocomplete="off")
                input.form-control(id='email' ,name='email', placeholder='邮箱', type='text',value='')
                input.form-control(id='studentpassword' ,name='studentpassword', placeholder='密码', type='password',value='')
                a(href='/register')
                  p 没有帐号？立即注册
                button#studentsubmit.btn(type='button') 登录
            #tab2.tab-pane.fade.in
              form#login.form-horizontal(action='/login', method='post',autocomplete="off")
                input.form-control(id='employeeId' ,name='employeeId', placeholder='工号', type='text',value='')
                input.form-control(id='teacherpassword' ,name='teacherpassword', placeholder='密码', type='password',value='')
                a(href='/register')
                  p 没有帐号？立即注册
                button#teachersubmit.btn(type='button') 登录

  script(src='js/login.js')
