extends layout

block content
  .container
    .loginbloack
      ul.nav.nav-tabs
        li.active(role='presentation')
          a(href='#') 学生
        li(role='presentation')
          a(href='#') 教师
      form#login.form-horizontal(action='#', method='post')
        input.form-control(name='email', placeholder='邮箱', type='text')
        input.form-control(name='password', placeholder='密码', type='text')
        button.btn(type='submit') 登录
