extends layout

block content
  body.container
    .text-center
      h1 我的课程
    .input-group.col-xs-3.col-xs-push-9
      input.form-control(type='text',placeholder="搜索")
      span.input-group-btn
        button.btn.btn-default(type='button')
          span.glyphicon.glyphicon-search
    div.text-left
      each course in courses
        button.col-xs-1.col-xs-push-8 删除
        p
          h4 #{course}

    div.text-center
      a.add(href='#')
        span.glyphicon.glyphicon-plus-sign
        |新增课程

    .pagination#page


script(src='/components/bootstrap-paginator/build/bootstrap-paginator.min.js')
script(src='/js/teacher-profile.js')
