extends layout

block content
  link(rel='stylesheet', href='stylesheets/teacher-profile.css')
  link(rel='stylesheet', href='/stylesheets/nav-search.css')
  .container
    .text-center
      h1 我的课程
    .row
      form#custom-search-form.pull-right
        .form-inline
          input.form-control.search-query(type='text', placeholder='搜索')
          button.btn.btn-default(type='button')
          i.glyphicon.glyphicon-search
    #content.center-block
      each course in courses
        .panel.panel-default.item
          .panel-body
            a(href='#').course
              h4(style='display: inline') #{course}
            button.btn.btn-danger.col-xs-1.col-xs-push-10 删除
    #addCourse.text-center
      a.add(href='#')
        span.glyphicon.glyphicon-plus-sign
        |新增课程

    .text-center
      ul#pagination.pagination


  script(src="components/twbs-pagination/jquery.twbsPagination.min.js")
  script(src='js/teacher-profile.js')
