extends ../layout

block head
  link(rel='stylesheet', href='/stylesheets/login.css')
block content
  .container
    .loginblock
      .col-lg-6.col-sm-6.col-lg-offset-3
        #userTab.btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group', aria-label='...')
          .btn-group(role='group')
            button#student.btn.btn-default.current(type='button', href='#tab1', data-toggle='tab')
              | 学生
          .btn-group(role='group')
            button#teacher.btn.other-options(type='button', href='#tab2', data-toggle='tab')
              | 老师
        .well
          .tab-content
            #tab1.tab-pane.fade.in.active
              form#login.form-horizontal(action='/login', method='post',autocomplete="off")
                input.form-control(id='email' ,name='email', placeholder='邮箱', type='text',value='')
                #email-error.text-danger.text-left
                  small 邮箱格式不正确!
                #email-null.text-danger.text-left
                  small 邮箱不能为空!
                input.form-control(id='studentPassword' ,name='studentPassword', placeholder='密码', type='password',value='')
                #studentPassword-null.text-danger.text-left
                  small 密码不能为空!
                #studentPassword-length.text-danger.text-left
                  small 密码应大于6位小于17位
                #studentPassword-error.text-danger.text-left
                  small 密码错误，请重新输入
                #redirect
                  small
                    | 没有账号?
                    a(href='/register') 立即注册
                button#studentSubmit.btn(type='button') 登录

            #tab2.tab-pane.fade.in
              form#login.form-horizontal(action='/login', method='post',autocomplete="off")
                input.form-control(id='employeeId' ,name='employeeId', placeholder='工号', type='text',value='')
                #employeeId-null.text-danger.text-left
                  small 工号不能为空!
                #employeeId-error.text-danger.text-left
                  small 工号格式不正确
                input.form-control(id='teacherPassword' ,name='teacherPassword', placeholder='密码', type='password',value='')
                #teacherPassword-null.text-danger.text-left
                  small 密码不能为空!
                #teacherPassword-length.text-danger.text-left
                  small 密码应大于6位小于17位
                #teacherPassword-error.text-danger.text-left
                  small 密码错误，请重新输入
                #redirect
                  small
                    | 没有账号?
                    a(href='/register') 立即注册
                button#teacherSubmit.btn(type='button') 登录

block foot
  script(src='js/login.js')
