extends ../layout

block head
  link(rel='stylesheet', href='/stylesheets/register.css')

block content

  .container
    form#signup.form-horizontal(action='/register', method='post')
      input#email.form-control(name='email', placeholder='邮箱', type='text', value='')
      #email-error.text-danger.text-left
        small 邮箱格式不正确!
      #email-null.text-danger.text-left
        small 邮箱不能为空!
      #email-repeat.text-danger.text-left
        small 邮箱已被注册!
      input#password.form-control(name='password', placeholder='密码', type='password', value='')
      #password-error.text-danger.text-left
        small 密码只能输入6-16个字母、数字、下划线!
      input#confirm.form-control(name='confirm', placeholder='确认密码', type='password', value='')
      #confirm-error.text-danger.text-left
        small 两次密码不一致!
      button#sign-up.btn(type='button') 注册
      #redirect
        small
          | 已有账号?
          a(href='/login') 立即登录
block foot
  script(src='js/register.js')
