#return {
  background-color: rgb(255,153,0);
  border-radius: 8px;
}

#return:hover {
  background-color: rgb(230, 138, 0);
  border-radius: 8px;
  color: white;
}

#last {
  background-color: rgb(255,153,0);
  border-radius: 8px;
}

#last:hover {
  background-color: rgb(230, 138, 0);
  border-radius: 8px;
  color: white;
}

#next {
  background-color: rgb(255,153,0);
  border-radius: 8px;
}

#next:hover {
  background-color: rgb(230, 138, 0);
  border-radius: 8px;
  color: white;
}
