body{
  background-color: rgb(242,242,242);
}
* {
  margin: 0;
  padding: 0;
}
.logo {
  padding-left: 50px;
  display: inline;
}
.logo img {
  height: 100%;
}
#navigation {
  min-height: 50px;
  line-height: 50px;
}
#navigation-list {
  margin-right: 20px;
}
#navigation-list > li > a{
  padding: 10px 35px;
  font-size: 15px;
  font-weight: bold;
  color: #757584;
  margin-top: 5px;
  border-radius: 15px;
}
#logo{
  padding: 5px;
  height: 50px;
}
.offline{
  display:block;
}
.online{
  display:none;
}
