.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
  background-color: #FCB92C;
}
.nav-pills>li>a:hover {
  background-color: rgba(255, 136, 85, 0.25);
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  background-color: rgba(255, 136, 85, 0.25);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #FCB92C;
}

.thumbnail:hover {
  background-color: #70572b;
}

a.all {
  line-height:40px;
  padding-left: 30px;
}
