#login {
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  color: #fff;
  font-weight: 300;
  max-width: 400px;
  height: 230px;
  margin: 0 auto 0 auto;
  text-align: center;
}

#login input {
  margin: 10px auto;
  width: 300px;
}

#login button {
  margin-top: 15px;
  background-color: rgb(255, 153, 0);
  border-radius: 30px;
  width: 200px;
}

#login button:hover {
  background-color: rgb(230, 138, 0);
  border-radius: 30px;
  color: white;
  width: 200px;

}

.loginblock {
  width: 800px;
  margin: 30px auto 0px auto;
}

.well {
  background-color: rgb(255, 255, 255);
  height: 250px;
  border-top-width: 0px;
  border-radius: 0px 0px 8px 8px;
  border-color: #CCC;
  padding: 0;
}

#student{
  border-bottom-width: 0px;
  border-radius: 8px 8px 0px 0px;
}

#teacher{
  border-bottom-width: 0px;
  border-radius: 8px 8px 0px 0px;
}

.other-options {
  background-color: #AAAAAA;
  border-color: #AAAAAA;
  color: #FFFFFF;
}

.other-options:hover {
  background-color: #7D7D7D;
  border-color: #7D7D7D;
  color: #FFFFFF;
}

.current:focus {
  border-color: #CCC;
  outline: none;
  background-color: rgb(255, 255, 255);
}

.current:active {
  border-color: #CCC;
  outline: none;
  background-color: rgb(255, 255, 255);
}
