#signup {
  background-color: rgb(255, 255, 255);

  border-radius: 8px;
  height: auto;
  color: #fff;
  font-weight: 300;
  max-width: 400px;
  padding: 30px 30px 30px 30px;
  margin: 30px auto 0 auto;
  text-align: center;
}

#signup input{
  margin: 10px auto;
  width: 300px;
}

#signup button {
  background-color: rgba(255,153,0,1);
  border-radius: 30px;
  width: 200px;
  color: white;
  outline: none;
}

#signup button:hover{
  background-color: rgba(230, 138, 0,1);
  border-radius: 30px;
  color: white;
  width: 200px;

}

#email-error,#email-null{
  margin: 0 auto;
  padding: 0 20px;
  display: none;
}

#email-error small,#email-null small{
  margin: auto 10px;
}
