#signup {
  background-color: #FFFFFF;

  border-radius: 8px;
  height: auto;
  color: #fff;
  font-weight: 300;
  max-width: 400px;
  padding: 30px 30px 30px 30px;
  margin: 30px auto 0 auto;
  text-align: center;
}

#signup input{
  margin: 10px auto;
  width: 300px;
}

#signup button {
  background-color: #FF9900;
  border-radius: 30px;
  width: 200px;
  color: white;
  outline: none;
}

#signup button:hover{
  background-color: #E68A00;
  border-radius: 30px;
  color: white;
  width: 200px;

}

#email-error,
#email-null,
#password-error,
#confirm-error,
#email-repeat{
  margin: 0 auto;
  padding: 0 20px;
  display: none;
}

#email-error small,
#email-null small,
#password-error small,
#confirm-error small,
#email-repeat small{
  margin: auto 10px;
}

#redirect {
  margin: 10px auto;
  color: #B8B8B8;
  font-weight: bolder;

}

#redirect a{
  color: #E68A00;
}
