#content {
  margin-top: 10px;
}

#addCourse {
  margin-top: 20px;
  height: 30px;
}

.course {
  line-height: 35px;
}

.item {
  margin: 5px;
}

#all {
  margin-left: 25px;
}

#title {
  color: #005599;
}
