extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/course-add.css')

    form(method="post" action="/new" enctype='multipart/form-data').form-signin
      section.container.well.panel-primary
        h1 添加课程
        ul.list-unstyled.list-group
          li.list-group-item
            label 请输入课程名:
            input(type='text' placeholder='请输入课程名' name='course_name').form-control
          li.list-group-item
            label 请选择分类:
            select(name='classification').form-control
              option 英语
              option 数学
              option 语文
              option 物理
              option 生物

          li.list-group-item
            label 请输入课程简要信息
            textarea(rows='3' cols='134' name='course_desc' ).form-control


      section.container.well.panel-primary
        ul.list-unstyled.list-group
          li.list-group-item.col-md-12
            label(name='chapterId') 第1章节:
            input(type='text' placeholder='请输入章节名' name="chapter_name").form-control
          li.list-group-item.col-md-12

            input#fulAvatar.form-control(name='fulAvatar', type='file')
            br
            button#btnSub.btn.btn-lg.btn-primary(type='submit') 上 传

            //input#textfield.txts(type='text', name='textfield').form-control.col-md-6
            //input(type='button', value='浏览...').sectionbk.btns.col-md-3
            //input#fileField.files(type='file', name='fileField', size='28', onchange="document.getElementById('textfield').value=this.value")

            //input(type='file' value='上传文件' name='commit_file').col-md-2.form-control
            .col-md-3
            input(type='button' id='update' value='上传').col-md-1.btn.btn-primary.text-right.sectionbk

          li.list-group
            .col-md-10
            input(type='button' name='addBtn'  value='新增').col-md-1.btn.btn-primary.text-right.sectionbk

      div#submit.container
        input(type='submit' value='保存').col-md-1.btn.btn-primary.text-center.sectionbk

    script(src='/js/course-add.js')
    script(src='/components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
    script(src='/components/blueimp-file-upload/js/jquery.iframe-transport.js')
    script(src='/components/blueimp-file-upload/js/jquery.fileupload.js')
