extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/course.css')
  script(src="/js/course.js")
block content
  .content
    .header
      h1.text-center Bootstrap
    hr
    div
      h4
        a(href='/') 所有课程
        span.glyphicon.glyphicon-chevron-right
        - var h = '/courses/'+ course.id;
        a(href = h) #{course.name}
    hr
    .container
      .row
        .col-lg-6
          h3 课程介绍
          p
            |#{course.description}
        .col-lg-6
            each chapter,i in course.chapters
              p
                button.gotoChapter.btn.btn-primary.btn-lg.btn-block(type='button')(value=i+1)(name = course.id)
                  | #{chapter.name}

block foot
  script(src="/js/course.js")
